@media (min-width: 500px) {
.NavigationItems {
    display: grid;
    grid-template-columns: 22vw 8vw 25vw 21vw 16vw 8vw;
    align-items: center;
 }
<<<<<<< HEAD

 .NavigationItem {
    text-align: center;
    height: 3vw;
    border-left: 0.8px solid;
    border-color: rgb(82,1,1);
    background-color: rgb(153,3,3);
}

.NavigationItem a {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.NavigationItem a:hover,
.NavigationItem a:active, 
.NavigationItem a.Active {
    border-bottom: 2px solid;
 }  
=======
>>>>>>> aa270b6 (Upgraded from Cra to Vite)
}

@media (max-width: 499px) {
    .NavigationItems {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 8px;
    } 
<<<<<<< HEAD

    .NavigationItem {
        box-sizing: border-box;  
        display: block;
        width: 100%;
        text-align: left;
        border-bottom: 0.8px solid white;
    }

    .NavigationItem a {
        font-size: 4vw;
        color: white;
    }
=======
>>>>>>> aa270b6 (Upgraded from Cra to Vite)
}